.covid_body_style {
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: justify;
  border-radius: 15px;
  min-height: 110px;
  text-align: center;
  width: 150px;
  float: left;
}

.covid_label_style {
  height: 25px;
  font-size: medium;
  font-weight: bolder;
  margin: 3px;
  color: brown;
  margin-top: 10px;
}
