.incre_form_style {
  padding: 3px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: lightsalmon;
  background-color: cadetblue;
  margin-bottom: 10px;
}

.incre_label_style {
  height: 25px;
  font-weight: bolder;
  color: darkblue;
  text-align: center;
  margin: 30px 0;
  font-size: xx-large;
}

.incre_button_style {
  height: 40px;
  width: 80px;
  font-size: large;
  margin: 10px;
  font-weight: bolder;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: pink;
  background-color: bisque;
}

div {
  text-align: center;
}
